<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>A Basic View</h1>
        <p th:text="'Message: ' + ${message}" ></p>
    </body>
</html>